RSS_FEED_HACKING_NEWS_SCHEDULE-TRIGGER_V1.json
{
  "name": "Demo workflow",
  "nodes": [
    {
      "parameters": {
        "url": "https://feeds.feedburner.com/TheHackersNews",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        -60,
        -60
      ],
      "id": "6037a2b6-bf08-4a06-ac61-f89ca8e4295d",
      "name": "Hacker news"
    },
    {
      "parameters": {
        "url": "https://www.darkreading.com/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        320,
        -40
      ],
      "id": "89d06424-b890-42ab-95f6-ff81f5a7854b",
      "name": "dark reading"
    },
    {
      "parameters": {
        "url": "https://krebsonsecurity.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        120,
        -60
      ],
      "id": "68d64a62-21a6-4618-bccb-1a9891a8202d",
      "name": "krebs on security"
    },
    {
      "parameters": {
        "url": "https://www.infosecurity-magazine.com/rss/news/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        140,
        320
      ],
      "id": "04b492c0-5f0a-4e74-9e13-1d12a69b35e2",
      "name": "infosecrity"
    },
    {
      "parameters": {
        "numberInputs": 10
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        900,
        0
      ],
      "id": "25b0df73-bacd-4b36-9d67-b5a1829fc626",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9aec0a09-4b6f-4fca-98e6-789abd5fdc51",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "56277e54-31a0-4804-ad23-c9ee6d244641",
              "name": "content",
              "type": "string",
              "value": "={{ $json.contentSnippet }}"
            },
            {
              "id": "a3586a80-588e-42d1-9780-370a956ddf6b",
              "name": "link",
              "type": "string",
              "value": "={{ $json.link }}"
            },
            {
              "id": "58f01618-8014-4685-9192-d15d596ffcd9",
              "name": "isoDate",
              "type": "number",
              "value": "={{ new Date($json.isoDate) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7d028508-25c7-4854-a653-bebe305c3b0a",
      "name": "Transform date",
      "type": "n8n-nodes-base.set",
      "position": [
        1040,
        -100
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -260,
        120
      ],
      "id": "b4733da9-046d-4caa-bc52-dafd4dc02daa",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "e7cf09fb-af35-495d-a840-341f8d0ddcd8",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.isoDate }}",
              "rightValue": "={{ Date.now() - 7 * 24 * 60 * 60 * 1000 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c248c031-c475-4508-b3e1-5cdde687455f",
      "name": "Filter by date (more than 7 days)",
      "type": "n8n-nodes-base.filter",
      "position": [
        1160,
        200
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "isoDate",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "id": "a8a3d85b-f397-4996-95a5-577ec2b50445",
      "name": "Sort by date",
      "type": "n8n-nodes-base.sort",
      "position": [
        1280,
        -100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "2351358061",
          "mode": "list",
          "cachedResultName": "RSS Feed"
        },
        "labels": [
          "read",
          "notion"
        ],
        "content": "={{ $json.title }} ",
        "options": {
          "description": "={{ $json.link }}\n\n{{ $json.content }}",
          "dueDateTime": "={{ $json['new Date'] }}"
        }
      },
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2.1,
      "position": [
        2000,
        -80
      ],
      "id": "2361cb4a-a967-411f-b507-e5dc05710ac7",
      "name": "Todoist",
      "credentials": {
        "todoistApi": {
          "id": "i6q8W9nWLA9vC49X",
          "name": "Todoist account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d212c3f-8c38-4e6a-a0b7-a948899608fe",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "fbc04b50-e7cf-4e2f-a890-bd0b9f1f3771",
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "97ac6bd8-765d-4aad-8139-e60064f65708",
              "name": "link",
              "value": "={{ $json.link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        -80
      ],
      "id": "a10b2d99-60df-4d94-ac28-acbbf5d3e7d3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $json.timestamp }}",
        "duration": 1,
        "outputFieldName": "new Date",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1520,
        460
      ],
      "id": "8fcd4d1e-4787-4b95-b2e4-bf34aa0d1a2d",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1640,
        220
      ],
      "id": "498ab1ec-a4ec-41de-ab1b-418d3d9fb435",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "dedupeValue": "={{ $json.title }}",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        1760,
        -80
      ],
      "id": "9538b2af-6495-43fe-b9d3-4820fdd89c7f",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "f730b3ab-bd39-4e2e-8df5-89afea164bcd",
              "leftValue": "={{ $json.title }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1880,
        220
      ],
      "id": "0bb25367-3ab8-4641-93cc-c23ad722fa08",
      "name": "If",
      "notesInFlow": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1400,
        200
      ],
      "id": "f16f7c42-f228-4f8b-938e-757933d99983",
      "name": "Limit"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        2100,
        240
      ],
      "id": "fe4a06b1-2471-47b7-b6e2-07678677b570"
    },
    {
      "parameters": {
        "url": "https://www.securityweek.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        500,
        -80
      ],
      "id": "d0ca7fa9-a649-42d8-a42f-a6a6d58c790b",
      "name": "Security week"
    },
    {
      "parameters": {
        "url": "https://threatpost.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        140,
        140
      ],
      "id": "c539403c-d7e0-4d6f-938f-29780ae4bcc3",
      "name": "threatpost"
    },
    {
      "parameters": {
        "url": "https://www.welivesecurity.com/en/rss/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        500,
        160
      ],
      "id": "fae2860a-ce23-43a8-a5ba-e992a93e3c55",
      "name": "welivesecurity"
    },
    {
      "parameters": {
        "url": "https://www.theregister.com/security/headlines.atom",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        -60,
        340
      ],
      "id": "48eaac0c-9035-4d85-bc7b-677ec47aaa13",
      "name": "theregister"
    },
    {
      "parameters": {
        "content": "## list of websties\n\nThe Hacker News\nhttps://feeds.feedburner.com/TheHackersNews\nSpecialty: Delivers real-time updates on emerging cybersecurity threats and discoveries, with an accessible approach for both professionals and enthusiasts.\n\nKrebs on Security\nhttps://krebsonsecurity.com/feed/\nSpecialty: Investigative journalism by Brian Krebs, known for in-depth analysis of cybercrime, data breaches, and personal digital security.\n\nDark Reading\nhttps://www.darkreading.com/rss_simple.asp\nSpecialty: Insider perspective for enterprise security teams, including detailed threat analysis, expert commentary, and emerging security research.\n\nSecurityWeek\nhttps://feeds.feedburner.com/Securityweek\nSpecialty: Business-centric cybersecurity news and insights, covering both technical issues and the broader impact on organizations.\n\nBleepingComputer\nhttps://www.bleepingcomputer.com/feed/\nSpecialty: Focus on malware and ransomware updates, along with hands-on advice and proven mitigation steps for all skill levels.\n\nThreatpost\nhttps://threatpost.com/feed/\nSpecialty: Rapid coverage of zero-day vulnerabilities, data breaches, and global cyber events, featuring security research and updates.\n\nSANS Internet Storm Center\nhttps://isc.sans.edu/rssfeed.xml\nSpecialty: Aggregated threat intelligence from security experts worldwide, featuring frequently updated data on real-time attacks.\n\nWeLiveSecurity (by ESET)\nhttps://www.welivesecurity.com/feed/\nSpecialty: Malware analyses, industry research, and best practices presented by the ESET research team.\n\nBruce Schneier’s Blog\nhttps://www.schneier.com/feed/atom/\nSpecialty: Renowned authority on cryptography, privacy, and broader security policy, offering thought-provoking commentary.\n\nThe Register Security\nhttps://www.theregister.com/security/headlines.atom\nSpecialty: Broad coverage of security-related technology news and issues, with a unique editorial voice.\n\nInfoSecurity Magazine\nhttps://www.infosecurity-magazine.com/rss/news/\nSpecialty: Features a variety of security topics, from data protection to compliance regulations, aimed at IT professionals and CISOs.",
        "height": 900,
        "width": 1080
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1420,
        -320
      ],
      "id": "a880a8a1-ef2a-4bad-aef5-e1ba2ab0d027",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "url": "https://www.bleepingcomputer.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        -60,
        140
      ],
      "id": "afba181b-9a7b-43d7-abe8-b4447267b187",
      "name": "Bleeding computer"
    },
    {
      "parameters": {
        "url": "https://isc.sans.edu/rssfeed.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        320,
        140
      ],
      "id": "9355e152-1907-4210-be5a-d6e4bdd2dc64",
      "name": "SANS"
    }
  ],
  "pinData": {},
  "connections": {
    "Hacker news": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dark reading": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "krebs on security": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "infosecrity": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 9
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Transform date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Hacker news",
            "type": "main",
            "index": 0
          },
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          },
          {
            "node": "krebs on security",
            "type": "main",
            "index": 0
          },
          {
            "node": "dark reading",
            "type": "main",
            "index": 0
          },
          {
            "node": "Security week",
            "type": "main",
            "index": 0
          },
          {
            "node": "Bleeding computer",
            "type": "main",
            "index": 0
          },
          {
            "node": "threatpost",
            "type": "main",
            "index": 0
          },
          {
            "node": "SANS",
            "type": "main",
            "index": 0
          },
          {
            "node": "welivesecurity",
            "type": "main",
            "index": 0
          },
          {
            "node": "theregister",
            "type": "main",
            "index": 0
          },
          {
            "node": "infosecrity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter by date (more than 7 days)": {
      "main": [
        [
          {
            "node": "Sort by date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort by date": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform date": {
      "main": [
        [
          {
            "node": "Filter by date (more than 7 days)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Todoist": {
      "main": [
        []
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Todoist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        []
      ]
    },
    "Security week": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "theregister": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 8
          }
        ]
      ]
    },
    "welivesecurity": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "threatpost": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Bleeding computer": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "SANS": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c5af0df6-06fc-43e4-b2b9-77c4c05428ce",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "srOnR8PAY3u4RSwb",
  "tags": []
}